<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title></title>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=gN54piupjhR4Fh0e47st4V9p"></script>
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/moment.js/2.10.6/moment-with-locales.min.js"></script>
    <script src="http://api.map.baidu.com/library/RichMarker/1.2/src/RichMarker_min.js"></script>
</head>
<body>
    <div id="main"></div>
<!-- Start of KF5 supportbox script -->
<script src="//assets.kf5.com/supportbox/main.js" id="kf5-provide-supportBox" kf5-domain="zufangzi.kf5.com"></script>
<!-- End of KF5 supportbox script -->
</body>
</html>
